<div class="header-container">
  <div class="taskbar-dasboard">
    <div class="taskbar-dasboard-top">
      <a href="/"><div class="taskbar-dasboard-top--logo"></div></a>
      <div class="taskbar-dasboard-top--menu">
      </div>
    </div>
    <div class="taskbar-dasboard-body">
        <ul class="taskbar-dasboard-body--list">
          <a href="/"><li><div><i class="fa-solid fa-house"></i></div>Bảng điều khiển</li></a>
          <a href="/landing"><li><div ><i class="fa-solid fa-house"></i></div>Home Page</li></a>
          <a href="/login"><li class="li-logout"><div><i class="fa-solid fa-user"></i></div>Đăng xuất</li></a>
        </ul>
      <div class="taskbar-dasboard-body--titile">Dịch vụ</div>
      <ul class="taskbar-dasboard-body--list">
          <a href="/muaProxy"><li><div><i class="fa-solid fa-cart-shopping"></i></div>Mua Proxy</li></a>
          {{!-- <a href="/buffAirdrop"><li><div><i class="fa-solid fa-cart-shopping"></i></div>BUFF AIRDROP</li></a> --}}
        </ul>
      <div class="taskbar-dasboard-body--titile">Quản lý tài khoản</div>
      <ul class="taskbar-dasboard-body--list">
        <a href="/profile"><li><div><i class="fa-solid fa-user"></i></div>Thông tin tài khoản</li></a>
        <a href="/transactions"><li><div><i class="fa-solid fa-cloud"></i></div>Lịch sử giao dịch</li><a>
        <a href="/naptien"><li><div><i class="fa-solid fa-money-bill-transfer"></i></div>Nạp tiền tài khoản</li></a>
      </ul>
      <div class="taskbar-dasboard-body--titile">Quản lý đơn hàng</div>
      <ul class="taskbar-dasboard-body--list">
        {{!-- <a href="/orderAir"><li><div><i class="fa-solid fa-arrow-down-z-a"></i></div>Đơn BUFF Airdrop</li></a> --}}
        {{!-- <li class="comming-soon"><div class="comming-soon" ><i class="fa-solid fa-arrow-down-z-a"></i></div>Đơn BUFF Airdrop (soon)</li> --}}
        <a href="orderIPprivate"><li><div><i class="fa-solid fa-wifi"></i></div>Đơn Proxy Private</li></a>
        <a href="/orderIPxoay"><li><div><i class="fa-solid fa-wifi"></i></div>Đơn Proxy dân cư xoay</li></a>
        <a href="/orderIPv6"><li><div><i class="fa-solid fa-wifi"></i></div>Đơn Proxy IPV6 xoay</li></a>
      </ul>
      <div class="taskbar-dasboard-body--titile">Liên hệ</div>
        <ul class="taskbar-dasboard-body--list">
            <li><div><i class="fa-brands fa-square-facebook"></i></div><a href="https://www.facebook.com/profile.php?id=100070561095803" target="_blank" style="color: #fff;">Facebook</a></li>
            <li><div><i class="fa-brands fa-telegram"></i></div><a href="https://t.me/longcrypto9" target="_blank" style="color: #fff;">Telegram</a></li>
        </ul>
    </div>
  </div>
  
  <div class="body-dasboard">
   
    <div class="body-dasboard-top">
      <div class="body-dasboard-top--pl1">
        <button class="body-dasboard-top--btn"><a href="/muaProxy" style="color: #fff;">Mua Proxy</a></button>
        <div class="body-dasboard-top--menu">
        <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="body-dasboard-top--pl2">
        <a href="/naptien"><div class="body-dasboard-top--naptien"></div></a>
        <a href="/">
        <div class="body-dasboard-top--setting">
        <i class="fa-solid fa-house"></i>
          </div></a>
        <a href="/profile"><div class="body-dasboard-top--img"></div></a>
      </div>
     
    </div>
    <div class="taskbarmini-dasboard">
        <ul class="taskbarmini-dasboard-body--list">
          <a href="/"><li><div><i class="fa-solid fa-house"></i></div>Bảng điều khiển</li></a>
          <a href="/login"><li class="li-logoutMobile"><div><i class="fa-solid fa-user"></i></div>Đăng xuất</li></a>
        </ul>
      <div class="taskbarmini-dasboard-body--titile">Dịch vụ</div>
      <ul class="taskbarmini-dasboard-body--list">
          <a href="/muaProxy"><li><div><i class="fa-solid fa-cart-shopping"></i></div>Mua Proxy</li></a>
          {{!-- <a href="/buffAirdrop"><li><div><i class="fa-solid fa-cart-shopping"></i></div>BUFF AIRDROP</li></a> --}}
        </ul>
      <div class="taskbarmini-dasboard-body--titile">Quản lý tài khoản</div>
      <ul class="taskbarmini-dasboard-body--list">
        <a href="/profile"><li><div><i class="fa-solid fa-user"></i></div>Thông tin tài khoản</li></a>
        <a href="/transactions"><li><div><i class="fa-solid fa-cloud"></i></div>Lịch sử giao dịch</li><a>
        <a href="/naptien"><li><div><i class="fa-solid fa-money-bill-transfer"></i></div>Nạp tiền tài khoản</li></a>
      </ul>
      <div class="taskbarmini-dasboard-body--titile">Quản lý đơn hàng</div>
      <ul class="taskbarmini-dasboard-body--list">
        {{!-- <a href="/orderAir"><li><div><i class="fa-solid fa-arrow-down-z-a"></i></div>Đơn BUFF Airdrop</li></a> --}}
        {{!-- <li class="comming-soon"><div class="comming-soon" ><i class="fa-solid fa-arrow-down-z-a"></i></div>Đơn BUFF Airdrop (soon)</li> --}}
        <a href="orderIPprivate"><li><div><i class="fa-solid fa-wifi"></i></div>Đơn Proxy Private</li></a>
        <a href="/orderIPxoay"><li><div><i class="fa-solid fa-wifi"></i></div>Đơn Proxy dân cư xoay</li></a>
        <a href="/orderIPv6"><li><div><i class="fa-solid fa-wifi"></i></div>Đơn Proxy IPV6 xoay</li></a>
      </ul>
      <div class="taskbarmini-dasboard-body--titile">Liên hệ</div>
        <ul class="taskbarmini-dasboard-body--list">
            <li><div><i class="fa-brands fa-square-facebook"></i></div><a href="https://www.facebook.com/profile.php?id=100070561095803" target="_blank" style="color: #fff;">Facebook</a></li>
            <li><div><i class="fa-brands fa-telegram"></i></div><a href="https://t.me/longcrypto9" target="_blank" style="color: #fff;">Telegram</a></li>
        </ul>
    </div>
    <script src="javascript/header.js"></script>
</div>

